.registro{
	display: flex;
	justify-content: center;
	align-items: center;
}

.formularioRegistro{
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.form-group{
	margin-bottom: 10px!important;
}

input{
	font-size: 12px!important;
	padding: 5px!important;
}